<style>
    .corl{
         width: 89%;
         height:500px;
    margin: 15px auto;
    text-align: center;
    border: 5px solid #51B25B;
    color:blue;
    font-size:20px;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    }
</style>
<div class="corl">
    <h2>Contacto</h2>
    <p>Email: domestic-online@outlook.com</p>

</div>