<div class="contenedorRL">
<h2>Realiza la cotización</h2>
<h3>Trabajo solicitado {{peti.titulo}}</h3>


<form  action="{{action}}" id="formulario" method="POST" >
  <label for="titulo">Título de la cotizacion</label>
  <input type="text" class="required" name="titulo">
  <hr>
  <label for="content">Añade descripcion a tu cotización</label>
 <textarea name="content" class="required" id="" cols="30" rows="10"></textarea>
 <hr>
 <label for="dateService">Escoge fecha y hora de servicio</label>
 <input type="datetime-local" class="required" name="dateService">
  <hr>
  <label for="precio">Precio</label>
  <input type="number" class="required number"name="precio"><br>
 
  
  <input type="submit" class="boton" value="Envia">
   <div id="contenedor_errores"></div>
</form>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<script type="text/javascript">
       function validarFormulario(){
   jQuery.validator.messages.required = 'Este campo es obligatorio.';
   jQuery.validator.messages.number = 'Este campo debe ser num&eacute;rico.';
   jQuery.validator.messages.email = 'La direccion de correo es incorrecta.';
   $("#formulario").validate();
 }
       $(document).ready(function(){
          validarFormulario();
       });
    </script>