<div class="contenedorRL">
<h2>Realiza la cotización</h2>
<h3>Trabajo solicitado {{peti.titulo}}</h3>


<form  action="{{action}}" id="form" method="POST" >
  <label for="titulo">Título de la cotizacion</label>
  <input type="text" name="titulo">
  <hr>
  <label for="content">Añade descripcion a tu cotización</label>
 <textarea name="content" id="" cols="30" rows="10"></textarea>
 <hr>
 <label for="dateService">Escoge fecha y hora de servicio</label>
 <input type="datetime-local" name="dateService">
  <hr>
  <label for="precio">Precio</label>
  <input type="number" name="precio"><br>
 
  
  <input type="submit" class="boton" value="Envia">
</form>
</div>