
<div class="contenedor">

    <div class="promocion">

   
    <h2>¿Necesitas un plomero o electricista?</h2>
    <h2>¡Conecta con los mejores!</h2>
    
   
    
   
    <a href="/auth/signup" class="siguiente">Regístrate</a>
    <a href="/auth/login" class="siguiente">Inicia sesión</a>
     </div>



</div>


