<div id="home">
    <h2>Conecta con el mejor técnico</h2>

</div>
<span><h2>¿Cuál es tu problema?</h2></span>
<div class="contenedor">
    
   
    
   
    <a href="/auth/signup" class="siguiente">Registrate</a>
    <a href="/auth/login" class="siguiente">Inicia sesión</a>



</div>


