<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  
</head>
<body>
  <header id="encabezado">
    <h1>Domestic Online</h1>
    <li id="lista">
      <a href="/somos">¿Quiénes somos?</a>
      <a href="/preguntas">Preguntas frecuentes</a>
      <a href="/contacto">Contacto</a>
      
      <a href="/auth/logout">Cerrar/Iniciar sesión</a>

    </li>
  </header>

  {{{body}}}
  <footer> &copy;Domestic online <a href="/aviso">Aviso de privacidad</a> </footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>