<div class="contenedorRL">
  <h2>Llena el formulario de tu petición</h2>
<p>{{message}}</p>

<form  action="{{action}}" id="formulario" method="POST" enctype="multipart/form-data">
  <label for="titulo">Título de la petición</label>
  <input type="text" name="titulo" class="required" value="{{peticion.titulo}}">
  <hr>
  <label for="content">Describe tu problema</label>
 <textarea name="content" class="required" id="" cols="30" rows="10"></textarea>
 
  <hr>
  <label for="photo">Sube la foto de tu problema</label>
   <input type="file"  class="required" name="photo" >
   <hr>
 <div id="contenedor_errores"></div>
  
  <input type="submit" class="boton" value="Envia">
</form>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<script type="text/javascript">
       function validarFormulario(){
   jQuery.validator.messages.required = 'Este campo es obligatorio.';
   jQuery.validator.messages.number = 'Este campo debe ser num&eacute;rico.';
   jQuery.validator.messages.email = 'La direccion de correo es incorrecta.';
   $("#formulario").validate();
 }
       $(document).ready(function(){
          validarFormulario();
       });
    </script>