<style rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    .color{
      background-color: #2867A4;
      border-color: white;
      width: 100%;
      height:40px;
      color:white;
      font-size: 16px;
      
    }
    .color:hover{
        background-color: #51B25B;
    }
     h3{
        font-size: 16px;
      }
    .collapse{
      margin-top: 0px;
      text-align: justify;
      padding:14px;
    }
  </style>
 
  <div class="contenedorRL">

  <h2>Preguntas frecuentes</h2>

  <div class="container">
  <button type="button" class="btn btn-info color" data-toggle="collapse" data-target="#cero">¿Cómo funciona el servicio de electricidad y plomería?</button>
  <div id="cero" class="collapse">
    <br>
    1. Registra tu cuenta y llena la solicitud de servicio, ya sea para el servicio de plomería o para el servicio de electricidad.<br> 2. visualizarás a los técnicos que estén dentro de tu area y podrás elegir a uno de ellos. <br>3. El técnico recibirá la solicitud de servicio y te contestará en un plazo de 12 horas con la cotización <br> 4. Recibirás la cotización y podrás elegir aceptarla y rechazarla.
  </div>
          <br>
</div>
  <!-- container-->
<div class="container">
  <button type="button" class="btn btn-info color" data-toggle="collapse" data-target="#uno">¿La cotización puede cambiar una vez que el técnico revise la situación personalmente?</button>
  <div id="uno" class="collapse">
    <br>
    No. En el momento en que el técnico te envia la cotización, este se compromete a realizar el servicio con ese costo.
  </div>
  <br>
</div>
  <!-- container-->
  <div class="container">
  <button type="button" class="btn btn-info color" data-toggle="collapse" data-target="#dos">¿Cuáles son los servicios que se ofrecen?</button>
  <div id="dos" class="collapse">
    <br>
    1 Electricidad:
    <br>
    Instalación de terminales electricas,
    reparación de instalaciones,
    reparación de electrodomésticos
    <br>
    <br>
    2. Plomería:
    <br>
Desazolve simple y fugas de agua     
  </div>
    <br>
</div>
 <!-- container-->
   <div class="container">
  <button type="button" class="btn btn-info color" data-toggle="collapse" data-target="#tres">¿En que momento se realiza el pago?</button>
  <div id="tres" class="collapse">
    El pago lo realizas directamente al técnico al momento de realizar el servicio
  </div>
     <br>
</div>
   <!-- container-->
   <div class="container">
  <button type="button" class="btn btn-info color" data-toggle="collapse" data-target="#cuatro">¿Qué pasa si el técnico no realiza el servicio adecuadamente?</button>
  <div id="cuatro" class="collapse">
Te pedimos realizar 2 acciones: <br>
     1. Calificar el servicio recibido en nuestra página. Esto es muy importante para que cada técnico vaya formando un historial de valoraciones y futuros clientes puedan tomar decisiones informadas. <br>
    2. Avisarnos de este suceso a nuestro teléfono fijo (55) 5555 5555 en horario de 9 am, a 6pm, de lunes a viernes, y te enviaremos a otro técnico a la brevedad, sin necesidad de otro pago.
     </div>
     <br>
</div>
</div>



