<style>
    *{
      margin: 10px;
    }
    .btn{
      background-color: rgb(40, 164, 112);
      border-color: white;
      display: block;
    margin-left: auto;
    margin-right: auto;
     
    }
    
      .card-img-top{
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
      }
    .detalles{
      display:flex
    }
   
    .ancho{
    width: 89%;
    margin: 15px auto;
    text-align: center;
    border: 5px solid #51B25B;
    border-radius: 8px;
    display: block;
    }
    
  </style>
  <div class="ancho">
<h2>Conócenos</h2>
  <div class="detalles">
    <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQEAshi-GyvZfQ/profile-displayphoto-shrink_200_200/0?e=1549497600&v=beta&t=4gG1_r-l8Wi-SkLPENcLucxM1_KO0KazjofzWQWIsdQ"  alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Rodrigo Centeno</h5>
    <p class="card-text">Mercadólogo. Soy apasionado por la tecnología y por los negocios comprometidos con el desarrollo social. Con esta app me interesa ayudar a los plomeros y electricistas de la CDMX a conectar rapidamente con usuarios que necesiten sus servicios. </p>
    <a href="https://www.linkedin.com/in/rodrigogaona/" class="btn ">Perfil de linkedin</a>
  </div>
</div>
  
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQGY17GcuVcinQ/profile-displayphoto-shrink_200_200/0?e=1549497600&v=beta&t=Ygh9sHlXp_L8Uz0oS7aEtM26PyOJygAn5svpfCB9mMw"  alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">René Manzano</h5>
    <p class="card-text"> Ingeniero Geomático con maestría en fisica espacial. Gran pasión por la ciencia y la programación. Esta página esta diseñada para atender una necesidad de la sociedad de hoy en día, encontrar un trabajador que realice alguna compostura. </p>
    <a href="www.linkedin.com/in/rene-manzano-b72a0996" class="btn">Perfil de linkedin</a>
  </div>
</div>
    
  </div>
  </div>
  

