<h2 id="ti"> Hay 3 técnicos cerca de ti</h2>
<div class="tec">
<div class="card">
    <h3>Rodrigo</h3>
    <p> Habilidades: Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores illum excepturi blanditiis numquam dolore, aspernatur voluptatibus veniam, commodi perspiciatis eligendi dolores, temporibus sunt impedit inventore ipsa magnam quaerat vitae cumque.</p>
</div>
<div class="card">
    <h3>Juan</h3>
    <p> Habilidades: Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde dolore pariatur corrupti delectus nihil dolor fugiat. Eaque, autem in quo optio enim inventore. Quia quis recusandae voluptas obcaecati fuga.</p>

</div>
<div class="card">
    <h3>Paco</h3>
    <p> HabilidadesLorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate cum autem amet ad ab, magni nobis ratione, explicabo quo magnam a eos dolores molestias animi sint deserunt deleniti dolorem?</p>

</div>


</div>